.footer {
  padding: 30px 20px;
  background-color: #2d5c6070;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #535353;
    font-weight: 600;
    margin: 0;

    &::before,
    &::after {
      content: '✦';
      margin: 0 10px;
      color: #ff8fa3;
    }
  }
}
