// ########################### About Seciton ###########################
.about {
  font-family: "Caveat", cursive;
  position: relative;
  overflow: hidden;
  background: linear-gradient( 135deg, #ffffff, #fff3f7, #f3f8ff, #fff9e6 );
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 40px 40px #ccc;
  border-radius: 50px;

  .wedding-name{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%) rotate(2deg);
    color: #2D5C60;

    .sub-title{
      line-height: 20px;
      position: relative;
      &::before, &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        width: 42%;
        height: 2px;
        background-color: #2d5c607b;
      }

      &::before{
        left: 0;
      }

      &::after{
        right: 0;
      }
    }

    .center-heart-top{
      position: relative;
      top: -18px;
    }

    .center-heart-bottom{
      position: relative;
      bottom: -18px;
    }

    .name{
      font-size: 48px;
      font-weight: 700;
      line-height: 30px;
      font-style: italic;
    }

    .and{
      font-size: 30px;
    }

    .sub-content{
      position: relative;
      font-size: 14px;
      &::before, &::after{
        content: '';
        position: absolute;
        top: -10px;
        width: 42%;
        height: 2px;
        background-color: #2d5c607b;
      }

      &::before{
        left: 0;
      }

      &::after{
        right: 0;
      }
    }

    .date{
      font-size: 12px;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
