<section class="about h-100" id="about">
  <div class="about-bg h-100">
    <img class="h-100 w-100 wow fadeInDown" data-wow-duration="2s" src="assets/image/about-image/watercolor-wedding-invitation-template-with-arrangement-flower-leaves_181182-48768.avif" alt="" >
  </div>

  <div class="wedding-name mt-md-5 text-center p-5 h-100">

    <p class="sub-title m-0 mb-3 fw-bold wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s"> Two souls with but a single thought, two hearts that beat as one</p>

    <span class="center-heart-top wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s">💖</span>

    <h2 class="name wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s">Abdelrahman</h2>

    <span class="and mb-1 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">&</span>

    <h2 class="name wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">Nour</h2>

    <span class="center-heart-bottom wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">💖</span>
    <p class="sub-content m-0 mb-1 mt-3 fw-bold wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">TOGETHER WITH THEIR FAMILIES</p>

  </div>
</section>
