<div class="row g-5">
  <div class="col-md-6">
    <section class="date-section p-3 py-5 h-100" id="date-section">
      <div class="header-seciton text-center">
        <h2 class="section-title wow slideInDown" data-wow-duration="2s">SAVE THE DATE</h2>
        <h4 class="sub-title wow slideInLeft" data-wow-duration="2s">Counting Down</h4>
      </div>

      <div class="row g-4 mt-md-5">
        <div class="col-6">
          <div class="count-card wow bounceIn" data-wow-duration="2s" data-wow-delay="1s">
            <h3>{{ formatNumber(time.days) }}</h3>
            <span>Days</span>
          </div>
        </div>

        <div class="col-6">
          <div class="count-card wow bounceIn" data-wow-duration="2s" data-wow-delay="1s">
            <h3>{{ formatNumber(time.hours) }}</h3>
            <span>Hours</span>
          </div>
        </div>

        <div class="col-6">
          <div class="count-card wow bounceIn" data-wow-duration="1s" data-wow-delay="2s">
            <h3>{{ formatNumber(time.minutes) }}</h3>
            <span>Minutes</span>
          </div>
        </div>

        <div class="col-6">
          <div class="count-card wow bounceIn" data-wow-duration="1s" data-wow-delay="2s">
            <h3>{{ formatNumber(time.seconds) }}</h3>
            <span>Seconds</span>
          </div>
        </div>

      </div>

    </section>
  </div>

  <div class="col-md-6">
    <section class="date-cards d-flex flex-column gap-3 p-3 py-5 h-100" id="date-cards">
      <div class="card text-center p-3">

        <div class="card-icon text-center m-auto wow rotateInDownLeft" data-wow-duration="2s">
          <i class="fa-regular fa-calendar fs-4"></i>
        </div>

        <div class="card-content mt-3">
          <h4 class="m-0 main-color fw-semibold wow rotateInUpLeft" data-wow-duration="2s">DATE</h4>
          <p class="m-0 wow rotateInUpLeft" data-wow-duration="2s">SEPTEMBER 10, 2026</p>
          <span class="m-0 wow rotateInUpLeft" data-wow-duration="2s">Thursday</span>
        </div>
      </div>

      <div class="card text-center p-3">
        <div class="card-icon text-center m-auto wow rotateInDownLeft" data-wow-duration="2s">
          <i class="fa-regular fa-clock fs-4"></i>
        </div>

        <div class="card-content mt-3">
          <h4 class="m-0 main-color fw-semibold wow rotateInUpLeft" data-wow-duration="2s" >TIME</h4>
          <p class="m-0 wow rotateInUpLeft" data-wow-duration="2s">7:00 PM : 11:00 PM</p>
          <span class="m-0 wow rotateInUpLeft" data-wow-duration="2s">Reseption to follow</span>
        </div>
      </div>

      <div class="card text-center p-3">

        <div class="card-icon text-center m-auto wow rotateInDownLeft" data-wow-duration="2s">
          <i class="fa-solid fa-location-dot fs-4"></i>
        </div>

        <div class="card-content mt-3">
          <h4 class="m-0 main-color fw-semibold wow rotateInUpLeft" data-wow-duration="2s">VENUM</h4>
          <p class="m-0 wow rotateInUpLeft" data-wow-duration="2s">LAMURE VIP Hall</p>
          <span class="m-0 wow rotateInUpLeft" data-wow-duration="2s">Giza, Egypt</span>
        </div>
      </div>

    </section>
  </div>
</div>
