<section class="overflow-hidden">
  <div class="row g-5">
    <div class="col-12">
      <app-home></app-home>
    </div>

    <div class="col-md-6">
      <app-about></app-about>
    </div>

    <div class="col-md-6">
      <app-location></app-location>
    </div>

    <div class="col-12">
      <app-date></app-date>
    </div>
    <app-footer></app-footer>
  </div>

  <a (click)="scrollToTop()" [ngClass]="{'d-block': showArrow,'d-none': !showArrow}" class="arrowup cr"><i class="fa-solid fa-chevron-up"></i></a>
</section>


<div class="hearts-bg">
  @for (h of hearts; track $index) {
    <span
      [style.left.%]="h.left"
      [style.animation-duration.s]="h.duration"
      [style.animation-delay.s]="h.delay"
      [style.width.px]="h.size"
      [style.height.px]="h.size"
    ></span>
  }
</div>

