@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&display=swap');
$mainColor: #2D5C60;
html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
*{
  font-family: "Caveat", cursive;
}
.main-color{
  color:$mainColor
}
.main-bg{
  background-color: $mainColor;
  border: 1px solid $mainColor;
}
.main-btn{
  width: 130px;
  @extend .main-bg;
  &:hover{
    color: #fff;
    @extend .main-bg
  }
}
.second-btn{
  width: 130px;
  border: 1px solid $mainColor;
  background-color: transparent;
  &:hover{
    color: #fff;
    @extend .main-bg
  }
}
.cr{
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}
