 <section class="home">
    <div class="home-banner d-flex justify-content-center align-items-center vh-100 text-center">

      <img class="bg-home animate__animated animate__fadeIn animate__slow" src="assets/image/home-image/frame-image.gif" alt="bg-wedding-invite">

      <div class="envolpe-image animate__animated animate__rotateInDownRight animate__delay-1s">
        <a (click)="scrollToSection('about')">
          <img src="assets/image/home-image/envolpe.gif" alt="wedding-invite">

          <span class="open-text">OPEN</span>
        </a>
      </div>

    </div>
  </section>
